body {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-btn {
    width: 100%;
    background-color: coral;
    border: 1px solid white;
    border-radius: 8px;
    margin: 10px 0;
}

.modal-btn:hover {
    border: 1px solid grey;
    opacity: .9;
}